* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #f9ca24;
    height: 13vh;

    h1 {
        color: #fff;
        padding: 10px;
        vertical-align: center;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 50%;
        height: 0%;
        margin-left: auto;
    }

    .nav-brand {
        list-style: none;
        color: #fff;

    }

    .nav-item {
        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #ddd;
            }
        }
    }
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        margin: 12px 0;
    }

    .like {
        background: #f9ca24;
        border: none;
        outline: none;
        padding: 12px 20px;
        cursor: pointer;
        color: #fff;
        letter-spacing: 0.2rem;
        font-size: 18px;
        transition: 0.5s ease;

        &:active {
            transform: scale(0.8);
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

@media screen and (max-width: 768px) {
    .landing {
        h1 {
            padding: 20px;
            text-align: center;
        }
    }

    nav {

        position: relative;

        .nav-links {
            position: fixed;
            background: #f9ca24;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            clip-path: circle(10px at 90% -10%);
            -webkit-clip-path: circle(10px at 90% -10%);
            transition: all 1s ease-out;
            pointer-events: none;

            &.open {
                clip-path: circle(1000px at 90% -10%);
                -webkit-clip-path: circle(1000px at 90% -10%);
                pointer-events: all;
            }

            a {
                font-size: 18px;
            }
        }

        .line {
            width: 30px;
            height: 3px;
            background: #fff;
            margin: 5px;
        }

        .hamburger {
            cursor: pointer;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
        }
    }
}